---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/discovery/v1/apis/urlshortener/v1/rest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"BgGnx7p-6wsAbOn4St99QhtBGbA/T4bB77XUfbpGWn7xKXxC7yFKgeE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "discovery#restDescription",
         "etag": "\"BgGnx7p-6wsAbOn4St99QhtBGbA/T4bB77XUfbpGWn7xKXxC7yFKgeE\"",
         "discoveryVersion": "v1",
         "id": "urlshortener:v1",
         "name": "urlshortener",
         "version": "v1",
         "title": "URL Shortener API",
         "description": "Lets you create, inspect, and manage goo.gl short URLs",
         "ownerDomain": "google.com",
         "ownerName": "Google",
         "icons": {
          "x16": "http://www.google.com/images/icons/product/search-16.gif",
          "x32": "http://www.google.com/images/icons/product/search-32.gif"
         },
         "documentationLink": "http://code.google.com/apis/urlshortener/v1/getting_started.html",
         "protocol": "rest",
         "baseUrl": "https://www.googleapis.com/urlshortener/v1/",
         "basePath": "/urlshortener/v1/",
         "rootUrl": "https://www.googleapis.com/",
         "servicePath": "urlshortener/v1/",
         "batchPath": "batch",
         "parameters": {
          "alt": {
           "type": "string",
           "description": "Data format for the response.",
           "default": "json",
           "enum": [
            "json"
           ],
           "enumDescriptions": [
            "Responses with Content-Type of application/json"
           ],
           "location": "query"
          },
          "fields": {
           "type": "string",
           "description": "Selector specifying which fields to include in a partial response.",
           "location": "query"
          },
          "key": {
           "type": "string",
           "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
           "location": "query"
          },
          "oauth_token": {
           "type": "string",
           "description": "OAuth 2.0 token for the current user.",
           "location": "query"
          },
          "prettyPrint": {
           "type": "boolean",
           "description": "Returns response with indentations and line breaks.",
           "default": "true",
           "location": "query"
          },
          "quotaUser": {
           "type": "string",
           "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
           "location": "query"
          },
          "userIp": {
           "type": "string",
           "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
           "location": "query"
          }
         },
         "auth": {
          "oauth2": {
           "scopes": {
            "https://www.googleapis.com/auth/urlshortener": {
             "description": "Manage your goo.gl short URLs"
            }
           }
          }
         },
         "schemas": {
          "AnalyticsSnapshot": {
           "id": "AnalyticsSnapshot",
           "type": "object",
           "properties": {
            "browsers": {
             "type": "array",
             "description": "Top browsers, e.g. \"Chrome\"; sorted by (descending) click counts. Only present if this data is available.",
             "items": {
              "$ref": "StringCount"
             }
            },
            "countries": {
             "type": "array",
             "description": "Top countries (expressed as country codes), e.g. \"US\" or \"DE\"; sorted by (descending) click counts. Only present if this data is available.",
             "items": {
              "$ref": "StringCount"
             }
            },
            "longUrlClicks": {
             "type": "string",
             "description": "Number of clicks on all goo.gl short URLs pointing to this long URL.",
             "format": "int64"
            },
            "platforms": {
             "type": "array",
             "description": "Top platforms or OSes, e.g. \"Windows\"; sorted by (descending) click counts. Only present if this data is available.",
             "items": {
              "$ref": "StringCount"
             }
            },
            "referrers": {
             "type": "array",
             "description": "Top referring hosts, e.g. \"www.google.com\"; sorted by (descending) click counts. Only present if this data is available.",
             "items": {
              "$ref": "StringCount"
             }
            },
            "shortUrlClicks": {
             "type": "string",
             "description": "Number of clicks on this short URL.",
             "format": "int64"
            }
           }
          },
          "AnalyticsSummary": {
           "id": "AnalyticsSummary",
           "type": "object",
           "properties": {
            "allTime": {
             "$ref": "AnalyticsSnapshot",
             "description": "Click analytics over all time."
            },
            "day": {
             "$ref": "AnalyticsSnapshot",
             "description": "Click analytics over the last day."
            },
            "month": {
             "$ref": "AnalyticsSnapshot",
             "description": "Click analytics over the last month."
            },
            "twoHours": {
             "$ref": "AnalyticsSnapshot",
             "description": "Click analytics over the last two hours."
            },
            "week": {
             "$ref": "AnalyticsSnapshot",
             "description": "Click analytics over the last week."
            }
           }
          },
          "StringCount": {
           "id": "StringCount",
           "type": "object",
           "properties": {
            "count": {
             "type": "string",
             "description": "Number of clicks for this top entry, e.g. for this particular country or browser.",
             "format": "int64"
            },
            "id": {
             "type": "string",
             "description": "Label assigned to this top entry, e.g. \"US\" or \"Chrome\"."
            }
           }
          },
          "Url": {
           "id": "Url",
           "type": "object",
           "properties": {
            "analytics": {
             "$ref": "AnalyticsSummary",
             "description": "A summary of the click analytics for the short and long URL. Might not be present if not requested or currently unavailable."
            },
            "created": {
             "type": "string",
             "description": "Time the short URL was created; ISO 8601 representation using the yyyy-MM-dd'T'HH:mm:ss.SSSZZ format, e.g. \"2010-10-14T19:01:24.944+00:00\"."
            },
            "id": {
             "type": "string",
             "description": "Short URL, e.g. \"http://goo.gl/l6MS\"."
            },
            "kind": {
             "type": "string",
             "description": "The fixed string \"urlshortener#url\".",
             "default": "urlshortener#url"
            },
            "longUrl": {
             "type": "string",
             "description": "Long URL, e.g. \"http://www.google.com/\". Might not be present if the status is \"REMOVED\"."
            },
            "status": {
             "type": "string",
             "description": "Status of the target URL. Possible values: \"OK\", \"MALWARE\", \"PHISHING\", or \"REMOVED\". A URL might be marked \"REMOVED\" if it was flagged as spam, for example."
            }
           }
          },
          "UrlHistory": {
           "id": "UrlHistory",
           "type": "object",
           "properties": {
            "items": {
             "type": "array",
             "description": "A list of URL resources.",
             "items": {
              "$ref": "Url"
             }
            },
            "itemsPerPage": {
             "type": "integer",
             "description": "Number of items returned with each full \"page\" of results. Note that the last page could have fewer items than the \"itemsPerPage\" value.",
             "format": "int32"
            },
            "kind": {
             "type": "string",
             "description": "The fixed string \"urlshortener#urlHistory\".",
             "default": "urlshortener#urlHistory"
            },
            "nextPageToken": {
             "type": "string",
             "description": "A token to provide to get the next page of results."
            },
            "totalItems": {
             "type": "integer",
             "description": "Total number of short URLs associated with this user (may be approximate).",
             "format": "int32"
            }
           }
          }
         },
         "resources": {
          "url": {
           "methods": {
            "get": {
             "id": "urlshortener.url.get",
             "path": "url",
             "httpMethod": "GET",
             "description": "Expands a short URL or gets creation time and analytics.",
             "parameters": {
              "projection": {
               "type": "string",
               "description": "Additional information to return.",
               "enum": [
                "ANALYTICS_CLICKS",
                "ANALYTICS_TOP_STRINGS",
                "FULL"
               ],
               "enumDescriptions": [
                "Returns only click counts.",
                "Returns only top string counts.",
                "Returns the creation timestamp and all available analytics."
               ],
               "location": "query"
              },
              "shortUrl": {
               "type": "string",
               "description": "The short URL, including the protocol.",
               "required": true,
               "location": "query"
              }
             },
             "parameterOrder": [
              "shortUrl"
             ],
             "response": {
              "$ref": "Url"
             }
            },
            "insert": {
             "id": "urlshortener.url.insert",
             "path": "url",
             "httpMethod": "POST",
             "description": "Creates a new short URL.",
             "request": {
              "$ref": "Url"
             },
             "response": {
              "$ref": "Url"
             },
             "scopes": [
              "https://www.googleapis.com/auth/urlshortener"
             ]
            },
            "list": {
             "id": "urlshortener.url.list",
             "path": "url/history",
             "httpMethod": "GET",
             "description": "Retrieves a list of URLs shortened by a user.",
             "parameters": {
              "projection": {
               "type": "string",
               "description": "Additional information to return.",
               "enum": [
                "ANALYTICS_CLICKS",
                "FULL"
               ],
               "enumDescriptions": [
                "Returns short URL click counts.",
                "Returns short URL click counts."
               ],
               "location": "query"
              },
              "start-token": {
               "type": "string",
               "description": "Token for requesting successive pages of results.",
               "location": "query"
              }
             },
             "response": {
              "$ref": "UrlHistory"
             },
             "scopes": [
              "https://www.googleapis.com/auth/urlshortener"
             ]
            }
           }
          }
         }
        }
  recorded_at: Tue, 16 Jul 2013 09:33:08 GMT
- request:
    method: get
    uri: https://svcs.paypal.com/AdaptivePayments?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><wsdl:definitions xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:types=\"http://svcs.paypal.com/types/ap\" xmlns:common=\"http://svcs.paypal.com/types/common\"
        xmlns:services=\"http://svcs.paypal.com/services\" xmlns:ns=\"http://svcs.paypal.com/services\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        ns:version=\"1.8.5\" targetNamespace=\"http://svcs.paypal.com/services\">\n\n\t<wsdl:types>\n\t\t<xs:schema
        xmlns:annox=\"http://annox.dev.java.net\" xmlns:ov=\"http://annox.dev.java.net/net.sf.oval.constraint\"
        xmlns:sec=\"http://annox.dev.java.net/com.paypal.foundation.security.annotation\"
        xmlns:ppv=\"http://annox.dev.java.net/com.paypal.foundation.validation.oval\"
        xmlns:ppc=\"http://annox.dev.java.net/com.paypal.foundation.validation.oval.constraint\"
        attributeFormDefault=\"unqualified\" elementFormDefault=\"unqualified\" targetNamespace=\"http://svcs.paypal.com/types/common\">\n\n\t\t\t<xs:complexType
        name=\"AccountIdentifier\">\n\t\t\t\t\n\t\t\t\t<xs:sequence>\n\t\t\t\t\t<xs:element
        name=\"email\" type=\"xs:string\" minOccurs=\"0\" maxOccurs=\"1\">\n\t\t\t\t\t\t\n\t\t\t\t\t</xs:element>\n\t\t\t\t\t<xs:element
        name=\"phone\" type=\"common:PhoneNumberType\" minOccurs=\"0\" maxOccurs=\"1\">\n\t\t\t\t\t\t\n\t\t\t\t\t</xs:element>\n\t\t\t\t\t<xs:element
        name=\"accountId\" type=\"xs:string\" minOccurs=\"0\" maxOccurs=\"1\">\n                        \n
        \               \t</xs:element>\n\n\t\t\t\t\t<xs:any maxOccurs=\"unbounded\"
        minOccurs=\"0\" namespace=\"##other\" processContents=\"lax\"/>\n\t\t\t\t</xs:sequence>\n\t\t\t</xs:complexType>\n\n\t\t\t<xs:simpleType
        name=\"AckCode\">\n\t\t\t\t<xs:annotation>\n\t\t\t\t\t<xs:documentation>\n\t\t\t\t\t\tAckCodeType
        This code identifies the\n\t\t\t\t\t\tacknowledgment code types that could
        be used to\n\t\t\t\t\t\tcommunicate the status of processing a (request)\n\t\t\t\t\t\tmessage
        to an application. This code would be\n\t\t\t\t\t\tused as part of a response
        message that contains\n\t\t\t\t\t\tan application level acknowledgment element.\n\t\t\t\t\t</xs:documentation>\n\t\t\t\t</xs:annotation>\n\t\t\t\t<xs:restriction
        base=\"xs:token\">\n\t\t\t\t\t<xs:enumeration value=\"Success\">\n\t\t\t\t\t\t<xs:annotation>\n\t\t\t\t\t\t\t<xs:documentation>\n\t\t\t\t\t\t\t\tRequest
        processing succeeded.\n\t\t\t\t\t\t\t</xs:documentation>\n\t\t\t\t\t\t</xs:annotation>\n\t\t\t\t\t</xs:enumeration>\n\t\t\t\t\t<xs:enumeration
        value=\"Failure\">\n\t\t\t\t\t\t<xs:annotation>\n\t\t\t\t\t\t\t<xs:documentation>\n\t\t\t\t\t\t\t\tRequest
        processing failed.\n\t\t\t\t\t\t\t</xs:documentation>\n\t\t\t\t\t\t</xs:annotation>\n\t\t\t\t\t</xs:enumeration>\n\t\t\[...]
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/vault/?_wadl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 9018b0c4363c8
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="https://api.paypal.com/payments"><grammars><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://api.paypal.com/payments" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://api.paypal.com/payments">
        <xs:element name="address" type="tns:address"/>
        <xs:element name="card" type="tns:creditCard"/>
        <xs:element name="link" type="tns:link"/>
        <xs:complexType name="creditCard">
        <xs:complexContent>
        <xs:extension base="tns:resource">
        <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:string"/>
        <xs:element minOccurs="0" name="valid_until" type="xs:string"/>
        <xs:element minOccurs="0" name="state" type="xs:string"/>
        <xs:element minOccurs="0" name="payer_id" type="xs:string"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="number" type="xs:string"/>
        <xs:element name="expire_month" type="xs:string"/>
        <xs:element name[...]
- request:
    method: get
    uri: http://www.paypalobjects.com/wsdl/PayPalSvc.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 20 Jun 2013 05:47:28 GMT
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHdzZGw6
        ZGVmaW5pdGlvbnMKCW5zOnZlcnNpb249IjEwNC4wIgoJeG1sbnM6d3NkbD0i
        aHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3NkbC8iCgl4bWxuczp4cz0i
        aHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiCgl4bWxucz0iaHR0
        cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3NkbC8iCgl4bWxuczpTT0FQLUVO
[...]
- request:
    method: get
    uri: http://www.paypalobjects.com/wsdl/CoreComponentTypes.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 20 Jun 2013 05:47:28 GMT
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xs:schema targetNamespace=\"urn:ebay:apis:CoreComponentTypes\"
        elementFormDefault=\"qualified\" attributeFormDefault=\"unqualified\" xmlns:ebl=\"urn:ebay:apis:eBLBaseComponents\"
        xmlns:ns=\"urn:ebay:apis:CoreComponentTypes\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\">\n\t<xs:import
        namespace=\"urn:ebay:apis:eBLBaseComponents\" schemaLocation=\"eBLBaseComponents.xsd\"/>\n\t<!--
        Definition of AmountType -->\n\t<xs:complexType name=\"AmountType\">\n\t\t<xs:simpleContent>\n\t\t\t<xs:extension
        base=\"xs:double\">\n\t\t\t\t<xs:attribute name=\"currencyID\" type=\"ebl:CurrencyCodeType\"
        use=\"required\"/>\n\t\t\t</xs:extension>\n\t\t</xs:simpleContent>\n\t</xs:complexType>\n\t<xs:complexType
        name=\"BasicAmountType\">\n\t<xs:annotation><xs:documentation>On requests,
        you must set the currencyID attribute to one of the three-character currency
        codes for any of the supported PayPal currencies. \n<br/><br/>\nLimitations:
        Must not exceed $10,000 USD in any currency. No currency symbol. Decimal s[...]
- request:
    method: get
    uri: http://www.paypalobjects.com/wsdl/eBLBaseComponents.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 20 Jun 2013 05:47:28 GMT
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHNjaGVt
        YSB4bWxucz0iaHR0cDov[...]
